# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/log/development*
/tmp

tags

.DS_Store

# public data
public/uploads/

config/dev_database.yml
config/environment.yml
config/database.yml
config/settings.yml

public/sitemap.xml.gz
public/robots.txt

public/images

.env

.idea
